:root {
   --main-font: 'Roboto', sans-serif;
   --secondary-font: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font);
}

.link {
    text-decoration: none;
  }

.list {
    list-style: none;  
}

.address {
    font-style: normal;
}

